header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--wrapper);
  max-width: var(--wrapper-max);
  margin: 0 auto;
  background-color: cadetblue;
}
.memoji {
  height: 100%;
  background-color: blueviolet;
}
